body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-weight: 24px;
  color: #F9FAF8;
}

li {
  list-style-type: none;
}

a  {
  font-weight: 18px;
  color: #E5E7EB;
  text-decoration: none;
  list-style-type: none;
}

button,
.text {
  font-weight: 18px;
  color: #E5E7EB;
} 

ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
} 

h2 {
  font-weight: extra-bold;
  font-size: 48px;
  color: #F9FAF8;
  margin: 0;
}

.container {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  gap: 200px;
  height: 500px;
  align-items: center;
}

.vert {
  flex-direction: column;
  width: 410px;
  padding: 0;
  margin: 0;
}

.box {
  width: 610px;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:darkgrey;
}

button {
  padding: 5px 24px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #3882F6;
}  
