* {
  border: solid red 2px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
  gap:60px;
}

.header1,
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
}

h1 {
  font-weight: 24px;
  color: #F9FAF8;
}

li {
  list-style-type: none;
}

a  {
  font-weight: 18px;
  color: #E5E7EB;
  text-decoration: none;
  list-style-type: none;
}

button,
.text {
  font-weight: 18px;
  color: #E5E7EB;
} 

ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
} 

h2 {
  font-weight: extra-bold;
  font-size: 48px;
  color: #F9FAF8;
  margin: 0;
}

.container {
  flex-direction: column;
  width: 410px;
  padding: 0;
  margin: 0;
}

.box {
  width: 610px;
  height: 288px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:darkgrey;
}

button {
  padding: 8px 24px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #3882F6;
}  

.body {
  display: flex;
  flex-direction: column;
  height: 500px;
  align-items: center;
}

.header3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: extra-bold
  color: #1F2937
}

.images {
  display: flex;
  gap:50px;
  color: #1F2937
}

img {
  height: 200px;
  width: 200px;
  border: solid #3882F6 4px;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
  font-size: 20px;
  gap: 8px;
}

.text2 {
  margin: 0;
}
